<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="css/basic.css"/>
</head>
<body>

<h2 class="title">引入样式</h2>
<form action="/doAdd" method="post">
    <input type='text' name="username" />
    <br/>
    <input type='password' name="password" />
    <br/>
    <button type="submit">提交</button>
</form>
<img src="images/a.png" />
</body>
</html>